body, html {
	background-image: url("../asset/wallpaper2.jpg") !important;
	background-color:lightblue;
	 font-size: 1.08em;
   color: #000 !important;
   font-family: Montserrat !important;
}  


a:hover, a:link, a:visited, a:active {
	text-decoration:none;
}

.wrapper {
	display:flex;
	flex-direction:column;
}

/*##################################
MainPage
##################################*/

.logo{ 
	height:15vh;
	display:flex;
	width:65vw;
}

.logo_text{
	margin: auto;
	font-size:110px;
	font-weight:bold;
	color:#f0b658;
	text-shadow: 5px 6px 1px #000;
}

.main {
	background-color:#ffde4f;
	display: flex;
	padding-left: 0px;
	padding-right: 0px;
	opacity:0.9;

}

#sidebar{
	min-width:145px;
	min-height:85vh;
	border-radius:6px 0px 0px 0px;
}

.sidebar_content a{
	display: flex;
	align-items:stetch;
	margin: 10px;
	margin-left:5px;
	width: auto;
	background-color: #2196F3;
	color:white;
	transition: 0.3s;
	border-radius:2px;
}

.sidebar_content a:hover{
	margin-left:20px;
}

.focus:focus {
  margin-left:20px;
}

.active{
	margin-left:20px !important;	
}

.content {
	width:85%;
	min-height:85vh;
	border-radius:0px 2px 0px 0px !important;
	padding-left:20px;
}

.heading {
	padding-top:30px;
}

/*##################################*/
